@font-face {
  font-family: "HarmonyOS Sans SC";
  src: url("/fonts/HarmonyOS_Sans_SC-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HarmonyOS Sans SC";
  src: url("/fonts/HarmonyOS_Sans_SC-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HarmonyOS Sans SC";
  src: url("/fonts/HarmonyOS_Sans_SC-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HarmonyOS_Sans_SC:Regular";
  src: url("/fonts/HarmonyOS_Sans_SC-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HarmonyOS_Sans_SC:Medium";
  src: url("/fonts/HarmonyOS_Sans_SC-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HarmonyOS_Sans_SC:Bold";
  src: url("/fonts/HarmonyOS_Sans_SC-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "HarmonyOS Sans SC", sans-serif;
}
